body{
	background: #DEDEDE;
	font-family: Avenir;
	font-style: sans-serif;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}
#container {
	color: #3d3d3d;
	padding: 0px;
	margin: 0px;
}

#container a{
	color: #000000;
	font-style: italic;
}

div#header, div#nav, div#foot{
	padding-left: 5%;
	padding-right: 5%;
}

div#content{
	padding-left: 5%;
}
div#sideimage{
	margin-right: 5%;

}

#header{
	background: #2e4045;
	color: #ffffff;
	width: 100%;
	margin: 0px;
	border-bottom: 5px solid #3d3d3d;
	padding: 0.75em;
}

#header h1{
	font-size: 30px;
	font-family: Avenir;
	font-weight: normal;
}

#nav{
	margin: 0px;
	padding: 0.75em;
	background: #969696;
	border-bottom: 5px solid #3d3d3d;
	width: 100%;

}

#nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}

#nav li{
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-right: 2em;
}

#nav a {
	color: #ffffff;
}
#nav a:hover{
	color: #2e4045;
}


#content {
	position: absolute;
	float: left;
	width: 60%;
	margin-top: 5%;
 	text-align: justify;
}

#foot{
	position: absolute;
	bottom: 0;
	margin: 0px;
	padding: 0px;
	background: #2e4045;
	color: #ffffff;
	width: 100%;
	border-bottom: 5px solid #3d3d3d;
	border-top: 5px solid #3d3d3d;
	clear: both;
}


#foot a {
	color: #ffffff;
}

#headerlinks a {
	color: #ffffff;
}

#foot a:hover{
	color: #969696;
}

#sideimage {
	float: right;
	width: 25%;
	margin-top: 5%;
	z-index:1;
}

p {
	margin-top: 0px;
}

blockquote {
	padding-top: 40px;
	font-style: italic;
	line-height: 100%;
	color: #454545;
}
blockquote:before {
	display: block;
	float: left;
	margin: 10px 15px 0 0;
	font-size: 50px; /
	content: open-quote;
	color: #bababa;
}
blockquote:after {
	content: none;
}


a {
	text-decoration: none;
	color: #ffffff;
}
